.App {
  text-align: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.my-little-app {
    width: 500px;
    margin: 50px auto;
}
.toolbar input[type="button"] {
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2px;
    margin-bottom: 2px;
}

.toolbar input[type="button"]:active {
    transform: scale(.95);
}

.toolbar input[type="button"]:not(.active):hover {
    background-color: #eee;
}

.toolbar input[type="button"].active {
    background-color: turquoise;
    border-color: transparent;
}

.public-DraftEditorPlaceholder-inner {
    position: absolute;
    color: #ccc;
    pointer-events: none;
}
.hide-placeholder .public-DraftEditorPlaceholder-inner {
    display: none
}

.draft-editor-wrapper {
    border: 1px solid #ccc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


